<div class="uk-alert-primary lead uk-margin-large-bottom" uk-alert>
    <p>Join my private email list for fitness training tips.</p>
    <div id="mc_embed_signup">
      <form class="uk-form-stacked" action="https://aim4strength.us13.list-manage.com/subscribe/post?u=e8ec144fea18639007973900c&amp;id=526fa3ebf5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
        novalidate>
        <div id="mc_embed_signup_scroll" class="uk-margin">
          <div class="uk-form-controls">
            <div class="uk-inline uk-width-1-1">
              <button id="mc-embedded-subscribe" type="submit" class="uk-button uk-form-icon uk-form-icon-flip" uk-icon="icon: chevron-right"></button>
              <input  class="uk-input uk-width-1-1 uk-form-large" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <span id="email-invalid" style="display:none">
            Must be a valid email address</span>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e8ec144fea18639007973900c_526fa3ebf5" tabindex="-1" value=""></div>
            </div>
          </div>
        </div>
    </form>
    <!--End mc_embed_signup-->
    </div>
</div>
