<p class="email-pitch">Get the latest posts delivered to you for free via RSS or Email:</p>
<!-- Begin MailChimp Signup Form -->

<div class="uk-grid uk-grid-collapse">
  <div class="uk-width-auto uk-margin-right">
    <a href="http://feeds.feedburner.com/Aim4strengthFitness"><i class="fa fa-rss-square fa-lg" aria-hidden="true"></i></a>
  </div>
  <div class="uk-width-auto uk-margin-right">
     <span>or</span>
  </div>
  <div class="mc-form">
    <form action="https://aim4strength.us13.list-manage.com/subscribe/post?u=e8ec144fea18639007973900c&amp;id=526fa3ebf5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
      novalidate>
      <div class="uk-inline" id="mc_embed_signup_scroll">
        <a id="mc-embedded-subscribe" type="submit" class="uk-form-icon uk-button-primary uk-form-icon-flip" href="" uk-icon="icon: chevron-right"></a>
        <input class="uk-input" type="text" id="mce-EMAIL" placeholder="email address" required>
        <span id="email-invalid" style="display:none">
          Must be a valid email address</span>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e8ec144fea18639007973900c_526fa3ebf5" tabindex="-1" value=""></div>
      </div>
    </form>
  </div>
</div>
