<div class="uk-alert-primary lead uk-margin-large-bottom" uk-alert>
    <p>Sign Up and recieve an eBook detailing our adventures around the world.&ensp;<i class="fa fa-book" aria-hidden="true"></i></p>
    <form id="gform" method="POST" class="uk-form-stacked" action="https://script.google.com/macros/s/AKfycbzNMLl5sYmeXc5R4w1jdnXovW1Vc3Dy-Qc5NE0_GT067YQV7cDD/exec">
        <div class="uk-form-controls">
          <div class="uk-inline uk-width-1-1">
            <button type="submit" class="uk-button uk-form-icon uk-form-icon-flip" uk-icon="icon: chevron-right"></button>
            <input id="email" name="email" class="uk-input uk-width-1-1 uk-form-large" type="email" placeholder="Email" required="">
            <span id="email-invalid" style="display:none">Must be a valid email address</span>
          </div>
        </div>
    </form>
</div>
