{% if page.auto-page %}
<p class="uk-h2 mono uk-text-center uk-margin-remove">Filed Under</p>
<!-- <hr class="uk-divider-small uk-text-center"> -->
<p class="uk-h1 uk-text-center uk-margin-top">{{page.autopages.display_name}}</p>
<!-- <hr class="double-bar"> -->
{% endif %}
<ul class="uk-list all-posts">
  {% for post in paginator.posts %}
    <li>
      <a class="post-link uk-text-center" href="{{ post.url | relative_url }}">
        <img src="https://res.cloudinary.com/aim4strength/image/fetch/c_limit,f_auto,q_auto:best,w_800/{{ post.image }}" srcset="https://res.cloudinary.com/aim4strength/image/fetch/c_limit,f_auto,q_auto:best,w_320/{{ post.image }} 320w, https://res.cloudinary.com/aim4strength/image/fetch/c_limit,f_auto,q_auto:best,w_640/{{ post.image }} 640w, https://res.cloudinary.com/aim4strength/image/fetch/c_limit,f_auto,q_auto:best,w_960/{{ post.image }} 960w, https://res.cloudinary.com/aim4strength/image/fetch/c_limit,f_auto,q_auto:best,w_1100/{{ post.image }} 1100w" sizes="(min-width: 50rem) 50rem, 90vw" class="featured-image" alt="{{ post.image-alt }}" width="1100" height="732">
        <h2 class="uk-h1 uk-margin-medium-top uk-margin-remove-bottom">{{ post.title | markdownify }}</h2>
        <p class="post-meta"><i>by</i> <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.author.name }}</span></span> <i>on</i> <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %-d, %Y" }}</time>
          </p>
        <p class="excerpt uk-text-left">{{ post.content | strip_html | truncatewords: 50 }}&emsp;<span class="mono">More &rarr;</span></p>
        </a>
    </li>
  {% endfor %}
</ul>
