<ul class="uk-list uk-list-blockquoteider">
  {% for testimonial in site.testimonials %}
  <li>
    {% if testimonal.image == nil %}
    {% else %}
    <img class="small-image uk-border-rounded testimonial-image" src="{{ testimonial.image }}" />
    {% endif %}
    <h3>{{ testimonial.title }}</h3>
    <blockquote class="testimonial-full-text-{{ forloop.index }}">
      {{ testimonial.content | truncatewords: 50 | markdownify }}
    </blockquote>
    <button class="uk-margin-top button-in-text uk-button uk-button-default uk-button-small testimonial-full-text-{{ forloop.index }}" uk-icon="icon: arrow-right" type="button" uk-toggle="target: .testimonial-full-text-{{ forloop.index }}; animation: uk-animation-fade; queued: true; duration: 300">More&ensp;</button>
    <blockquote class="testimonial-full-text-{{ forloop.index }}" hidden>
      {{ testimonial.content | markdownify }}
    </blockquote>
    <button class="button-in-text uk-button uk-button-default uk-button-small testimonial-full-text-{{ forloop.index }}" hidden uk-icon="icon: close" type="button" uk-toggle="target: .testimonial-full-text-{{ forloop.index }}; animation: uk-animation-fade; queued: true; duration: 300">Minimize&ensp;</button>
  </li>
  {% endfor %}
</ul>
