<div class="full-width boundary-align uk-margin-small-bottom" uk-sticky="show-on-up: true; animation: uk-animation-slide-top; bottom: #sticky-on-scroll-up">
  <div class="uk-container uk-container-expand nav">
    <div class="uk-grid uk-grid-large">
      <div class="uk-width-1-5@m uk-visible@xl">
      </div>
      <div class="uk-width-3-5@xl uk-width-1-2@l">
        <nav class="uk-navbar-container uk-margin" uk-navbar>
            <div class="uk-navbar-left">



                <ul class="uk-navbar-nav">
                  <li class="uk-navbar-item"><a href="/blog/">Blog</a></li>
                  <li class="uk-navbar-item"><a href="/services/">Services</a></li>
                  <li class="uk-navbar-item"><a href="/class-schedule/">Class Schedule</a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
              <a class="uk-navbar-item uk-logo" href="{{ site.url }}"><img class="nav-logo" src="https://res.cloudinary.com/aim4strength/image/upload/v1514574377/grey-logo.png" alt="aim4strength logo"/>
              </a>
            </div>
        </nav>



      </div>
      <div class="uk-width-1-5@m uk-visible@xl">
      </div>

    </div>

  </div>
</div>
