<div class="uk-width-1-4@xl uk-width-1-3@l uk-margin-medium-top content">
  <img class="uk-border-circle headshot" src="https://res.cloudinary.com/aim4strength/image/upload/v1514757369/julie-smith.png" alt="Julie Smith headshot">
  <p class="small bio">Hello my friends. I'm Julie Smith. I'm Julie Smith. I'm Julie Smith. I'm Julie Smith. I'm Julie Smith. I'm Julie Smith.I'm Julie Smith. I'm Julie Smith. I'm Julie Smith. I'm Julie Smith.<a href="{{ site.url }}/meet-julie">Read more.</a></p>
  {% if page.blog or page.auto-page %}
  <hr>
  {% include list-of-categories.html %}
  {% endif %}
  <hr>
</div>
