.headshot {
  float: left;
  height: 100px;
  width: 100px;
  margin-right: .7em;
  margin-bottom: 5em;
}

.bio {
  margin-top: .15em;
  font-size: .8em;
  line-height: 1.4em;
}

.subscribe-bar > .uk-navbar-item {
  margin-right: 1.5em;
}

.subscribe-bar .email {
  margin-right: 0;
}

.email-pitch {
  font-size: .9em;
  line-height: 1.4em;
  margin-bottom: .75em;
}

.mc-form {
  width: 211px;
}
