.headshot {
  float: left;
  height: 100px;
  width: 100px;
  margin-right: .7em;
      margin-bottom: 4em;
}

.bio {
  margin-top: .15em;
  font-size: .8em;
  line-height: 1.4em;
}

// .categories {
//   font-family: $mono;
//   font-size: .75em;
// }
