::-moz-selection {
  background: $highlight;
  color: $black;
}

::selection {
  background: $highlight;
  color: $black;
}

* {
  z-index: 0;
}
//
// main, aside {
//   z-index: 1;
// }

html {
  overflow-y: scroll;
}

body {
  // overflow-x: hidden;
  background: $background-color;
  position: relative;
  background-image: $background-image;
}

.wrap, .site {
  position: relative;
  // overflow-x: hidden;
}


.paper,
.uk-notification-message,
.uk-offcanvas-bar {
  background: #fffff8;
  padding: 2em;
  box-shadow: -1px -1px 34px -13px $black;
}
@media screen and (min-width: 640px) {
  .services .paper {
    display: table;
    height: 100%;
  }
}

@media screen and (max-width: 640px) {
  .paper {
    padding: 1em;
  }
}
