.uk-comment-meta li {
  padding: 0 10px 0 0;
}

.uk-comment-meta {
  font-size: 1em;
  padding-left: 0 !important;
}

.child {
  margin-left: 5em;
}

.uk-commment-body {
  position: relative;
    top: -20px;
}
