.uk-input, .uk-select, .uk-textarea {
  background: $white;
  font-family: $sans-serif;
}

.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
  border-color: $blue;
  background: $white;
  color: $black;
}

.error-message {
  font-size: .75em;
  font-family: $sans-serif;
  color: $red;
}

.uk-form-danger, .uk-form-danger:focus {
    color: $red;
    border-color: $red;
}
