.hero {
  // border-bottom: 6px double $silver;
  // padding-bottom: 2em;
  // margin-bottom: 2em;
  // height: 12em;
}

.uk-heading-hero {
  text-transform: none;
  font-family: $logotext;
  margin-top: 1em;
  letter-spacing: .07em;
  color: $black;
  // border-bottom: 6px double $silver;
  padding-bottom: 1em;
}


.hero {
  padding: 0;
  border-top: 5px solid $red;
  // margin-bottom: 1em;
}
