.uk-heading-hero {
  text-transform: none;
  font-family: $sans-serif;
  margin-top: 1em;
  letter-spacing: .07em;
  color: $black;
  padding-bottom: 1em;
}

.hero-video {
  // background: #fffff8;
  // padding: .5em;
  // box-shadow: -1px -1px 34px -13px $black;
}

.testimonial-image {
  float: left;
  margin: 0 1em 6em 0;
}

.uk-slider-container {
    box-shadow: -1px -1px 34px -13px $black;
}

// .hero-container {
//   padding-bottom: 3em;
//   border-bottom: 3px solid $red;
// }

.uk-tab li a {
  font-family: $sans-serif;
  font-size: 1rem;
}

// .uk-tab-left::before {
//   border-left: 1px solid #999;
// }

// .uk-tab>.uk-active>a {
//     // color: #333;
//     // border-right-width: 2px;
//     border-color: $red;
// }

.uk-tab>li>a,.uk-tab>.uk-active>a  {
  padding-right: 20px;
}

.uk-tab li {
  // margin-bottom: 2rem;
}

.testimonials {
  font-size: 1rem;
}

.paper-switch {
  height: 780px;
}
.service-icon {
  width: 50px;
  margin: 0 auto .5em;
  display: block;
  // margin: 0 auto;
  // display: block;
  // position: relative;
  // float: left;
  // margin-right: 2em;
  // top: 30px;
}

.uk-tab-left li a {
  text-align: center;
}

.uk-card {
  border-radius: 3px;
}

.hero {
  padding: 0;
  border-top: 5px solid $red;
  border-bottom: 5px solid $red;
}

.transparent {
  background: none;
}

.full-width {
  margin-right: 0;
  padding-right: 0;
}

.hero-wrap {
  padding-bottom: 3em !important;
  // border: 6px solid $primary;
}
