.uk-navbar-container:not(.uk-navbar-transparent) {
  background: $white;
  border-bottom: 1px solid $black;
}

.uk-navbar-transparent {
  background: transparent;
}


@media (min-width: 1200px) {}
.logo-list {
    margin-left: 0;
}
