.lead {
  font-family: $serif;
  font-weight: 500;
  border: 6px double $white;
  padding: 1.5em;
  border-radius: 3px;
}

.lead p {
  margin-bottom: .5em;
}

.top-lead  {
  font-family: $serif;
  font-size: .8em;
  font-weight: 500;
  color: $red;
  background: $white;
  border-radius: 3px;
  line-height: 1.2em;
  padding: 11px 45px 13px 0;
}

.top-lead form {
  padding: 0 30px 1px 0;
}

.top-lead .uk-input {
  height: 55px;
  border-color: $red;
}

.top-lead .uk-alert-close {
  top: 33px;
}




.top-lead input::placeholder { /* Chrome/Opera/Safari */
  color: $red;
}
