.uk-navbar-nav>li>a {
  font-family: $sans-serif;
  text-transform: none;
  color: $black;
  //font-weight: 500;
}

.uk-navbar-nav>.uk-navbar-item>a {
  font-size: 1.75em;
  // text-transform: none;
}
//
// .uk-container-expand .uk-grid {
//   background: $white;
// }

.nav-logo {
  height: 70px;
      position: relative;
      top: 4px;
}
// .nav-wrap {
//   border-bottom: 5px solid $blue;
//   height: 50px;
// }
.nav {
  border-bottom: 3px solid $red;
  // border-top: 5px solid $red;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
  padding: 0;
  margin-right: .5em;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  border-bottom: 0 !important;
}

.uk-subnav>*>:first-child {
  font-family: $sans-serif;
  font-size: .8em;
  text-transform: none;
}

.categories>*>:first-child {
  color: $black;
}
//
