.uk-navbar-nav>li>a {
  font-family: $mono;
  text-transform: none;
  color: $black;
  //font-weight: 500;
}

.uk-navbar-nav>.uk-navbar-item>a {
  font-size: 1.75em;
  // text-transform: none;
}

.uk-container-expand .uk-grid {
  background: $white;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    border-bottom: 6px double $silver !important;
    // border-left: 6px double #DDD !important;
    // border-right: 6px double #DDD !important;
    // padding-bottom: 3px;
    // margin-bottom: 7px;
}

// .nav-wrap {
//   background: $white;
// }

.uk-subnav>*>:first-child {
  font-family: $mono;
  font-size: .8em;
  text-transform: none;
}

.categories>*>:first-child {
  color: $black;
}
