.uk-pagination {
  font-family: $sans-serif;
}

.uk-pagination > * > * {
  color: $black;
  font-size: 1em;
}

.pagination li {
  float: left;
}

.selected a {
  color: $red;
  border-bottom: 2px solid $red;
}
