html {
  font-size: 1em;
  background-color: $white;
}


body {
  font-weight: 500;
  font-family: $serif;
  color: $black;
  font-size: 20px;
  line-height: 1.75;
}

@media all and (max-width: 640px) and (min-width: 320px) {
    body{
        font-size: 20px;
    }

}

::-moz-selection {
  background: $highlight;
  color: $black; 
}
::selection {
  background: $highlight;
  color: $black;
}


p {
  margin: 0 0 1.414em 0;
}

em {
  color: $black;
}

h1, .uk-h1, h2, .uk-h2, h3, .uk-h3, h4, .uk-h4 {
    font-family: $serif;
    // color: #ff5252;
    letter-spacing: .07em;
}


h1, .uk-h1, h2, .uk-h2, h3, .uk-h3, h4, .uk-h4 {
  margin: 1.414em 0 0;
  //font-weight: 700;
  line-height: 1.2;
}

h1, .uk-h1 {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1.999em;
  line-height: 1em;
  letter-spacing: 0;
  font-family: $heading;
  text-transform: uppercase;
  //font-weight: 700;
}

h2, .uk-h2 {
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2em;
}

.content h2, .content .uk-h2 {
  margin: 1.414em 0 1.5em;
  //text-transform: uppercase;
  //margin-bottom: 2em;
  //padding: 20px 0;
  //border-top: 1px dashed $dark-pink;
  //border-top: 6px double $black;
  //border-bottom: 6px double $black;
}

small, .small {
  font-size: 0.707em;
  line-height: 1.2em;
}

.italic {
  font-style: italic;
}

.mono {
  font-family: $sans-serif;
  font-size: .85em;
  font-weight: normal;
}

.script {
  font-family: $script;
  letter-spacing: -.01em;
  font-size: .5em;
  line-height: 1.7em;
}

mark {
  background-color: $primary;
  padding: 5px;
}
