$black:       #111111;
$white:       #fffff8;
$white: #fbf9f4;
$white:       white;

$primary:   #EBAEB4;
// $primary: #ff9933;
$light-pink: #f6c7cb;
$dark-pink: #CB5868;
$gold:   #B89248;
$silver: #DDD;

$red: #b90005;
$blue: #003399;

$serif: 'Merriweather', serif;
$sans-serif: 'Merriweather Sans', sans-serif;
$heading: 'Merriweather Sans', sans-serif;
$logotext: 'Merriweather Sans', sans-serif;
$mono: 'Latin Mono', mono;
$mono-caps: 'Latin Mono Caps', mono;
$script: script;
