$black:       #111111;
$white:       #fffff8;
$white: #fbf9f4;
$primary:   #EBAEB4;
// $primary: #ff9933;
$light-pink: #f6c7cb;
$dark-pink: #CB5868;
$gold:   #B89248;
$silver: #DDD;

$serif: 'schola-regular', serif;
//$serif: 'georgia', serif;
//$serif: 'Domine', serif;
$serif: 'Crimson Text', serif;
$serif: 'Lusitana', serif;
//$serif: 'Alegreya', serif;
// $base-$serif: "Fira Sans", sans;


// $serif: 'Domine', serif;
// $serif: 'Alegreya', serif;
// $serif: 'Source Serif Pro', serif;
//$serif: 'Spectral', serif;
// $serif: 'Karma', serif;


$sans-serif: 'Libre Franklin', sans-serif;
$sans-serif: 'Alegreya Sans', sans-serif;
$heading: 'Old Standard TT', serif;
$sans-serif: 'Cabin Condensed', sans-serif;
$sans-serif: 'Cabin', sans-serif;
$sans-serif: 'Lusitana', serif;
//$sans-serif: 'Domine', serif;
//$sans-serif: 'Playfair Display', serif;
// $sans-serif: 'Oswald', sans-serif;
// $sans-serif: 'Fira Sans Extra Condensed', sans-serif;

$mono: 'Latin Mono', mono;
// $mono: 'Karla', sans-serif;
$mono-caps: 'Latin Mono Caps', mono;


$logotext:  'Playfair Display', serif;
$logotext: 'Old Standard TT', serif;
//$logotext: 'Engagement', cursive;

$olympia: 'Olympia', serif;
$script: 'Olympia Script', serif;
