<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <a href="top"></a> {% include header.html %} {% include nav.html %} {% include hero.html %}

  <div class="uk-container uk-container-expand">
    <div class="uk-child-width-expand@s uk-grid-large" uk-grid>
      <div class="uk-width-1-5@m uk-visible@xl">
        <div class="sidebar" style="z-index: 980;" uk-sticky="offset: 150">
          <img src="https://res.cloudinary.com/aim4strength/image/upload/v1514574376/aim4strength-logo.png" alt="aim4strength logo"/>
          {% include social-share.html %}
          <hr> {% include side-lead.html %}
        </div>
      </div>
      <div class="uk-width-2-5@xl uk-width-1-2@l uk-margin-medium-top">
        <div>
          {% if page.homepage %}
          {% include top-lead.html %}
          {% endif %}
          {% if page.blog or page.auto-page %}
          {% include list-of-all-posts.html %}
          {% else %}
          {{ content }}
          {% endif %}
        </div>
        {% if page.no-bottom-lead %}
        {% else %}
        {% include end-lead.html %}
        {% endif %}
      </div>
      {% include aside.html %}
    </div>
    {% include footer.html %}
  </div>
  {% if page.homepage %}
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  {% endif %}
    <!-- JS -->
  <!-- inject:js -->
  <!-- endinject -->

</body>

</html>
