<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <h1 class="visuallyhidden">{{ page.title }} | {% if page.title != site.title %}
  {{ site.title }} | {% endif %}  Personalized Fitness Training</h1>
  <a id="top"></a>

  {% if page.homepage %}
  {% include header/hero.html %}
  {% else %}
  {% include header/nav.html %}
  {% endif %}



  <div class="uk-container uk-container-expand">
    <div class="uk-child-width-expand@s uk-grid-large uk-flex" uk-grid>

      <main class="uk-width-2-5@xl uk-width-2-3@m uk-width-2-3@l">
        <div class="paper">
          {% if page.blog or page.auto-page %}
          {% include list-of-all-posts.html %}
          {% elsif page.is-post %}
          {{ content }}
          {% elsif page.image %}
          <div class="uk-text-center">
          <img class="uk-margin-medium-bottom" src="{{ page.image }}" alt="{{ page.image-alt }}" />
        </div>
          {{ content }}
          {% else %}
          {{ content }}
          {% endif %}
          {% if page.is-post %}
          {% include related-posts.html %}
          {% endif %}
        </div>
      </main>
      {% include aside/right-aside.html %}
          {% include aside/left-aside.html %}
    </div>
    {% include footer.html %}
  </div>
  {% if page.homepage %}
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  {% endif %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.36/js/uikit-icons.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <!-- JS -->
  <!-- inject:js -->
  <!-- endinject -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112408949-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112408949-1');
  </script>
</body>

</html>
