<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <h1 class="visuallyhidden">{{ page.title }} | {% if page.title != site.title %}
  {{ site.title }} | {% endif %}  Personalized Fitness Training</h1>
  <a id="top"></a>
  {% if page.homepage %}
  {% include header/hero.html %}
  {% else %}
  {% include header/nav.html %}
  {% endif %}

  <div class="uk-container uk-container-expand site">
    <div class="uk-child-width-expand@s uk-grid-large uk-flex site-content" uk-grid>

      <main class="uk-width-2-5@xl uk-width-2-3@m uk-width-2-3@l">
        <div class="paper">
          {% if page.blog or page.auto-page %}
          {% include post-lists/list-of-all-posts.html %}
          {% elsif page.is-post %}
          {{ content }}
          {% elsif page.image %}
            <img class="featured-image uk-margin-medium-bottom" src="{{ page.image }}" alt="{{ page.image-alt }}" />
            {% if page.display-title == true %}
            <p class="uk-h1">
              {{ page.title }}
            </p>
            {% endif %}
            {{ content }}
          {% else %}
            {% if page.display-title == true %}
            <p class="uk-h1">
              {{ page.title }}
            </p>
            {% endif %}
          {{ content }}
          {% endif %}
          {% if page.is-post %}
          {% include post-lists/related-posts.html %}
          {% endif %}
          {% if page.comments == true %}
            {% include post-lists/list-of-comments.html %}
          {% endif %}
          {% if page.comment-locked == false %}
            {% include comment-form.html %}
          {% endif %}
        </div>
      </main>
        {% include aside/right-aside.html %}
      <div class="uk-width-1-1@s uk-width-1-3@m uk-flex-first@m uk-width-1-3@l uk-width-1-5@xl">
      {% if page.left-aside == false %}
      {% else %}
      {% include aside/left-aside.html %}
      {% endif %}
    </div>
    </div>
    {% include footer.html %}
  </div>
  {% if page.homepage %}
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
{% endif %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.36/js/uikit-icons.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <!-- JS -->
  <!-- inject:js -->
  <!-- endinject -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112408949-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112408949-1');
  </script> -->
</body>

</html>
